body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0; /* Нейтральный фон */
	overflow-x: hidden;
}

header {
    background: url('images/chessboard.jpg') repeat;
    color: #fff; /* Цвет текста */
    padding: 10px;
    text-align: center;
}

nav {
    margin-top: 10px; 
}

nav ul {
    list-style-type: none; 
    padding: 0; 
}

nav ul li {
    display: inline; 
    margin: 0 15px; 
}


main {
    flex: 1; /* Заполнение оставшегося пространства */
    display: flex; /* Включаем Flexbox для main */
    justify-content: center; /* Центрируем содержимое по горизонтали */
    align-items: center; /* Центрируем содержимое по вертикали */
    padding: 20px;
    background-color: #4CAF50; /* Зелёный фон для основного */
	text-align: center;
}

/* Дополнительно, если нужно, чтобы изображение не было слишком большим для экрана */
img {
    max-width: 100%; /* Установка максимальной ширины изображения */
    height: auto; /* Автоматическое изменение высоты в соответствии с шириной */
}

footer {
    background: url('images/chessboard.jpg') repeat;
    text-align: center;
    padding: 20px; /* Увеличим вертикальные отступы */
    color: #fff;
    position: relative;
    width: 100%;
    bottom: 0;
}

.footer-button {
    display: inline-block; /* Чтобы элемент выглядел как кнопка */
    padding: 10px 20px; /* Внутренние отступы, как у кнопки */
    font-size: 16px; /* Размер текста */
    background-color: #4CAF50; /* Зелёный фон */
    color: white; /* Цвет текста белый */
    border-radius: 5px; /* Закругленные углы */
    cursor: pointer; /* Курсор при наведении */
}


h1, h2 {
    font-family: 'Merriweather', serif; /* Шрифт для заголовков */
    margin: 0;
    padding: 10px; /* Добавляем внутренний отступ для заголовков */
    background-color: #4CAF50; /* Зелёный фон, как у кнопок */
    color: white; /* Цвет текста белый */
    border-radius: 5px; /* Закругленные углы */
    display: inline-block; /* Чтобы заголовки выглядели как кнопки */
    cursor: pointer; /* Курсор при наведении */
}

button {
    padding: 10px 20px; 
    font-size: 16px; 
    background-color: #4CAF50; 
    color: white; 
    border: none; 
    border-radius: 5px; 
    cursor: pointer; 
}

button:hover {
    background-color: #45a049; 
}

a {
    text-decoration: none; / Убираем подчеркивание /
    color: white; / Цвет текста белый /
    background-color: #4CAF50; / Зелёный фон /
    padding: 10px; / Внутренние отступы /
    border-radius: 5px; / Скругленные углы /
    display: inline-block; / Чтобы ссылки выглядели как блоки /
    cursor: pointer; / Курсор при наведении /
}

a:hover {
    background-color: #45a049; / Темнее зелёный при наведении /
    text-decoration: none; / Убираем подчеркивание при наведении /
}